body {
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 80%);
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
